@use "./../variables/colors";
.card {
  border: solid 2px colors.$gorse-950;
  background-color: colors.$gorse-100;
  color: colors.$gorse-900;
  border-radius: 1rem;
  width: fit-content;
  padding: 2rem;
  width: 200px;
  .icon {
    font-size: 3rem;
  }
  & > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.male {
  color: colors.$male;
  font-style: bold;
  font-size: 2rem;
}

.female {
  font-style: bold;
  font-size: 2rem;
  color: colors.$female;
}
