$gorse-50: #fefee8;
$gorse-100: #ffffc2;
$gorse-200: #fffb89;
$gorse-300: #fff03e;
$gorse-400: #fde112;
$gorse-500: #ecc706;
$gorse-600: #cc9b02;
$gorse-700: #a36f05;
$gorse-800: #86570d;
$gorse-900: #724711;
$gorse-950: #432505;

$male: #02A3FF;
$female: #EC49A7;